@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';

@mixin button_style($color, $bg, $hover) {
	@extend %button_primary;
	@extend %items-center;
	gap: 5px;
	margin: 0 auto;
	color: $color;
	background-color: $bg;
	text-transform: capitalize;
	@include item_hover($hover, $bg);
	font-weight: 600;
}

.pr_button {
	&_black {
		@include button_style($text-color-light, $bg-10-color, $bg-10-hover-color);
	}

	&_green {
		@include button_style($text-color-dark, $button-bg-color-green, $bg-10-hover-color);
	}

	&_light_green {
		@include button_style($text-color-green, $link-bg-color-green, $bg-10-hover-color);
	}
}