@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';

.inn_card {
	width: 100%;
	border-radius: 28px;
	padding: 40px 24px;
	background-color: $bg-6-color;

	@include responsive(tablet) {
		padding: 64px 56px;
	}


	&_icon {
		@extend %circle_icon;
		@include sizesWH(52px, 52px);
		margin-bottom: 24px;

		@include responsive(tablet) {
			@include sizesWH(60px, 60px);
		}
	}

	&_text {
		@include responsive(tablet) {
			max-width: 400px;
		}

		@include responsive(desktop) {
			max-width: 480px;

		}

		&>h3 {
			max-width: 240px;
			margin-bottom: 16px;
			font-size: $text-size-big-l;
			line-height: $line-height-small;
			letter-spacing: -0.016em;

			@include responsive(tablet) {
				max-width: none;
				font-size: $text-size-large-l;
			}

			@include responsive(desktop) {
				font-size: $text-size-large-ll;
			}

		}

		&>p {
			font-size: $text-size-regular;
			line-height: $line-height-regular;
			letter-spacing: -0.005em;
			margin-bottom: 40px;

			@include responsive(desktop) {
				margin-bottom: 0;
			}
		}
	}

	&:first-child h3 {
		margin-bottom: 24px;

		@include responsive(tablet) {
			font-size: $text-size-large-xl;
		}

		@include responsive(desktop) {
			font-size: $text-size-large-h1;
		}
	}

	&:last-child h3 {
		margin-bottom: 40px;

		@include responsive(tablet) {
			margin-bottom: 56px;
		}

		@include responsive(desktop) {
			font-size: $text-size-large-h1;
		}
	}

	&_image {
		@include sizesWH(100%, 292px, 292px);
		margin: 0 auto;

		@include responsive(tablet) {
			margin-left: 0;
			@include sizesWH(100%, 420px, 420px);
		}

		@include responsive(desktop) {
			@include sizesWH(100%, 296px, 296px);
		}

		&>img {
			height: 100%;
			object-fit: contain;
		}
	}

	&_set_images {
		@extend %items-center;
		flex-direction: column;
		gap: 32px;
		padding: 32px 0;
		border-top: 1px solid rgba(36, 98, 65, 0.1);
		border-bottom: 1px solid rgba(36, 98, 65, 0.1);

		@include responsive(tablet) {
			flex-direction: row;
			gap: 38px;
		}


		&>div {
			@include sizesWH(168px, 38px);

			@include responsive(tablet) {
				@include sizesWH(128px, 30px);
			}

			@include responsive(desktop) {
				@include sizesWH(160px, 38px);
			}
		}
	}
}