@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/placeholders.scss';

.performance_card {
  width: 100%;
  border-radius: 28px;
  padding: 32px 24px 40px 24px;
  background-color: $bg-10-color;

  @include responsive(tablet) {
    padding: 56px 56px 64px 56px;
  }

  &_top {
    font-size: $text-size-large-ll;
    line-height: $line-height-small;
    letter-spacing: -0, 016em;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid $bg-10-color;
    color: $text-color-green;

    @include responsive(tablet) {
      font-size: $text-size-large-h1-l;
      margin-bottom: 40px;
    }
  }

  &_bottom {
    & > h4 {
      margin-bottom: 8px;
      font-weight: 600;
      color: $text-color-light;
      letter-spacing: -0.001em;
    }

    & > p {
      color: $text-color-secondary-4;
    }
  }
}
