@import './variables.scss';
$spaces-step: 4;

@mixin items-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin items-center-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin items-center-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@mixin items-center-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@mixin container {
	width: 100%;
	max-width: $screen-desktop;
	min-width: 360px;
	padding: 0 24px;
	margin: 0 auto;
}

@mixin button_primary {
	@include items-center;
	width: 100%;
	height: 100%;
	min-width: 44px;
	border-radius: 100px;
	cursor: pointer;
}

@mixin sizesWH($width, $height, $max-width: none, $max-height: none) {
	width: $width;
	height: $height;
	max-width: $max-width;
	max-height: $max-height;
}

@mixin item_hover($hover, $current) {
	background-image: linear-gradient(45deg, $hover 50%, $current 50%, $current 100%);
	background-size: 400% 400%;
	background-position: 100% 50%;
	transition: all 0.30s linear;

	&:hover {
		background-position: 0 50%;
	}

	&:focus {
		background-position: 0 50%;
	}
}