@import './variables.scss';
@import './placeholders.scss';
$spaces-step: 4;

@mixin responsive($media) {
  @if $media == mobile {
    @media only screen and (min-width: $screen-mobile) {
      @content;
    }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $screen-tablet) {
      @content;
    }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $screen-desktop) {
      @content;
    }
  }
}

@mixin sizesWH($width, $height, $max-width: none, $max-height: none) {
	width: $width;
	height: $height;
	max-width: $max-width;
	max-height: $max-height;
}

@mixin item_hover($hover, $current) {
	background-image: linear-gradient(45deg, $hover 50%, $current 50%, $current 100%);
	background-size: 400% 400%;
	background-position: 100% 50%;
	transition: all 0.30s linear;

	&:hover {
		background-position: 0 50%;
	}

	&:focus {
		background-position: 0 50%;
	}
}