$screen-mobile: 393px;
$screen-tablet: 834px;
$screen-desktop: 1440px;

$text-color-light: #ffffff;
$text-color-dark: #000000;
$text-color-green: #2FE784;
$text-color-secondary-1: #246241;
$text-color-secondary-2: #815D00;
$text-color-secondary-3: #39608E;
$text-color-secondary-4: rgba(255, 255, 255, 0.6);
$link-bg-color-green: rgba(47, 231, 132, 0.12);
$button-bg-color-green: #2FE784;
$button2-bg-color-green: rgba(255, 255, 255, 0.12);
$bg-1-color: #000000;
$bg-2-color: #ffffff;
$bg-3-color: #C2DECF;
$bg-4-color: #FDE680;
$bg-5-color: #C0DDFF;
$bg-6-color: #246241;
$bg-7-color: #DEF1E7;
$bg-8-color: #39608E;
$bg-9-color: #E2EEFC;
$bg-10-color: rgba(255, 255, 255, 0.08);

$text-size-small: 12px;
$text-size-small-l: 14px;
$text-size-regular: 18px;
$text-size-big: 20px;
$text-size-large: 28px;
$text-size-large-l: 40px;
$text-size-large-xl: 48px;
$text-size-large-xxl: 52px;
$text-size-large-h1: 56px;

$line-height-small: 1.04;
$line-height-small-l: 1.12;
$line-height-small-xl: 1.23;
$line-height-regular: 1.44;

$font-primary: 'Figtree', san-serif;
$font-secondary: 'ClashDisplay', serif;


