@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';

.inn_title {
  max-width: 297px;
  margin: 0 auto;
  margin-bottom: 68px;

  @include responsive(tablet) {
    max-width: 520px;
    margin-bottom: 96px;
  }

  @include responsive(desktop) {
    max-width: 640px;
    margin-bottom: 120px;
  }

  & > h2 {
    @extend %title;

    & > .first_green {
      color: $text-color-secondary-1;
    }

    & > .first_yellow {
      color: $text-color-secondary-2;
    }

    & > .first_blue {
      color: $text-color-secondary-3;
    }

    & > .first_grey {
      color: $text-color-secondary-4;
    }

    & > .first_white {
      color: $text-color-light;
    }
  }

  & > p {
    font-size: $text-size-small;
    line-height: $line-height-regular;
    letter-spacing: -0.005em;
    max-width: 297px;
    padding-top: 16px;

    @include responsive(tablet) {
      max-width: 360px;
      padding-top: 20px;
    }
  }
}
