@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

@mixin link_style($color, $bg, $hover) {
	@include button_primary;
	@include items-center;
	gap: 5px;
	margin: 0 auto;
	color: $color;
	background-color: $bg;
	text-transform: capitalize;
	@include item_hover($hover, $bg);
}

.pr_link {
	&_black {
		@include link_style($text-color-light, $bg-10-color, $bg-10-hover-color);
	}

	&_green {
		@include link_style($text-color-dark, $button-bg-color-green, $bg-10-hover-color);
	}

	&_light_green {
		@include link_style($text-color-green, $link-bg-color-green, $link-bg-color-green-hover);
	}
}