@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/placeholders.scss';

.voices_card {
  padding: 32px 24px;
  border-radius: 28px;
  background-color: $bg-10-color;
  color: $text-color-light;
  @include responsive(tablet){
    padding: 48px 40px;
  }
  &_container {
    @extend %items-center-start;
    gap: 16px;
    width: 100%;
    margin-bottom: 16px;
  }
  &_circle {
    @include sizesWH(40px, 40px);
    background-color: $bg-6-color;
    border-radius: 50%;
  }
}
