@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/placeholders.scss';

.accordion {
  max-height: 100%;
  background-color: $bg-10-color;
  border-radius: 16px;
  padding: 20px 24px;
  font-size: $text-size-regular;
  line-height: $line-height-regular;
  color: $bg-2-color;
  overflow: hidden;

  &.accordion_hidden {
    & .accordion_text {
      max-height: 0;
      transition: max-height 1s linear;
    }
  }
  @include responsive(tablet) {
    border-radius: 24px;
  }

  & button {
    @extend %items-center-between;
    width: 100%;
    font-size: $text-size-regular;
    line-height: $line-height-regular;
    font-weight: 600;
    color: $bg-2-color;
    text-align: left;
    cursor: pointer;

    & > p {
      max-width: 213px;

      @include responsive(tablet) {
        max-width: 574px;
      }

      @include responsive(desktop) {
        max-width: 780px;
      }
    }
  }

  &_button_icon {
    @include sizesWH(44px, 44px);
    @extend %items-center;
    border-radius: 50%;
    background-color: $button-bg-color-green;

    & > svg {
      @include sizesWH(12px, 12px);
      fill: $bg-1-color;
      transition: transform 0.2s linear;
    }
  }

  &_button_icon_active {
    & > svg {
      transform: rotate(45deg);
    }
  }

  &_text {
    max-height: 100%;
    overflow: hidden;
    color: $text-color-secondary-4;
    transition: max-height 1s linear;
  }
}
