@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/placeholders.scss';

.accordion {
  background-color: $bg-10-color;
  border-radius: 16px;
  padding: 20px 24px;
  font-size: $text-size-regular;
  line-height: $line-height-regular;
  color: $bg-2-color;
  overflow: hidden;

  @include responsive(tablet) {
    border-radius: 24px;
    padding: 28px 40px;
  }
    @include responsive(desktop) {
    padding: 37px 40px;
  }

  & h2 {
    @extend %items-center-between;
    width: 100%;
    margin-bottom: 16px;
    font-size: $text-size-regular;
    line-height: $line-height-regular;
    font-weight: 600;
    color: $bg-2-color;
    text-align: left;
    cursor: pointer;

    &>p {
      max-width: 213px;

      @include responsive(tablet) {
        max-width: 574px;
      }

      @include responsive(desktop) {
        max-width: 780px;
      }
    }
  }

  &_title_icon {
    @include sizesWH(44px, 44px);
    @extend %items-center;
    border-radius: 50%;
    background-color: $button-bg-color-green;

    &>svg {
      @include sizesWH(12px, 12px);
      fill: $bg-1-color;
      transition: transform 0.2s linear;
    }
  }

  &_button_icon_active {
    &>svg {
      transform: rotate(45deg);
    }
  }

  &_text {
    color: $text-color-secondary-4;
    display: grid;
    grid-template-rows: 0fr;
    pointer-events: none;
    transition: grid-template-rows 0.3s linear;

    &.accordion_text_active {
      grid-template-rows: 1fr;
    }

    &>div {
      overflow: hidden;
    }
  }
}