@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $bg-11-header-color;
  z-index: 99;

  &_container {
    @extend %items-center-between;
    @include sizesWH(100%, 68px);
    @extend %container;

    padding: 24px 24px 0 24px;
    color: $text-color-light;

    @include responsive(tablet) {
      padding: 24px 48px 0 48px;
    }

    @include responsive(desktop) {
      padding: 24px 96px 0 96px;
    }
  }
}

.header_buttons {
  @extend %items-center-end;
  gap: 16px;
  width: auto;

  &_contact {
    display: none;
    @include sizesWH(115px, 44px);

    @include responsive(mobile) {
      display: block;
    }
  }

  &_burger {
    @include sizesWH(44px, 44px);

    @include responsive(desktop) {
      display: none;
    }
  }
}
