@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';

.media_icons_list {
  list-style-type: none;
  @extend %items-center;

  & a {
    display: block;
    padding: 12px;
    transition: box-shadow 0.2s linear;

    &:hover {
      box-shadow:
        rgba(255, 255, 255, 0.25) 0px 0px 5px 0px,
        rgba(255, 255, 255, 0.25) 0px 0px 1px 0px;
    }
  }
}
