@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/placeholders.scss';
$deg: 0;

.custom_field {
  position: relative;
  & > input {
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    padding: 15px 24px;
    border-radius: 10px;
    font-size: $text-size-regular;
    line-height: $line-height-regular;
    letter-spacing: -0.005em;
    color: $text-color-secondary-5;
    z-index: 2;
    &:focus ~ span {
      inset: -3px;
    }
    &:focus + label {
      top: 0;
    }

    &:not(:placeholder-shown) + label {
      top: 0;
    }
  }

  & > label {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    background-color: $bg-2-color;
    color: $text-color-secondary-5;
    text-transform: capitalize;
    transition: top 0.3s linear;
    z-index: 3;
  }
  & > span {
    position: absolute;
    inset: -2px;
    z-index: 1;
    border-radius: 12px;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      inset: -2px;
      background: linear-gradient(
        45deg,
        $text-color-green 0%,
        $text-color-green 20%,
        $bg-8-color 40%,
        $bg-8-color 60%,
        $bg-4-color 80%,
        $bg-4-color 100%
      );
      background-size: 400% 400%;
      animation: animate 6s linear infinite;
    }
  }
}

@keyframes animate {
  0%,
  100% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
}

.error {
  font-size: $text-size-small;
  line-height: $line-height-regular;
  color: red;
  text-indent: 10px;
  margin-bottom: -7px;
}
