@import './styles/variables.scss';
@import './styles/mixins.scss';
@import '~@csstools/normalize.css';
@import './fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css';
@import './fonts/Figtree/figtree.css';

body {
  margin: 68px 0 0 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-1-color;
  font-family: $font-primary;
  font-weight: 400;
  line-height: $line-height-regular;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
