@import './styles/variables.scss';
@import './styles/mixins.scss';
@import '~@csstools/normalize.css';
@import './fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css';
@import './fonts/Figtree/figtree.css';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  line-height: 1.444;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
